###  Lists

In [2]:
voltage = [-7.0, -9.0, 9.0, 0.0, 4.0]

courant = [-9.0, -0.5, 7.0, 0.5, 0.0]

print(voltage)
print("============================= \n")
print(courant)

[-7.0, -9.0, 9.0, 0.0, 4.0]
=============================

[-9.0, -0.5, 7.0, 0.5, 0.0]

In [3]:
type(voltage)

list

In [4]:
type(courant)

list

In [5]:
help(voltage.sort())

Help on NoneType object:

class NoneType(object)
 |  The type of the None singleton.
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [13]:
x = [[10,2,8],[8,0,9],[4,3,8]] # liste à deux dimensions (liste de listes)

y = [[[2,3],[2,4]],[[3,4],[3,6]]] # liste à trois dimensions (liste de listes de listes)

x,y

([[10, 2, 8], [8, 0, 9], [4, 3, 8]], [[[2, 3], [2, 4]], [[3, 4], [3, 6]]])

In [14]:
x = list(['July', 'August', 'September', 14670, 45.487, 'October', 'November']) # Definition of a list
print(x) # Displays all the elements of the list x

['July', 'August', 'September', 14670, 45.487, 'October', 'November']

In [25]:
print(x[2:]) # Returns all elements starting from index 2 (inclusive).
print("================================================")
print('\t')

['September', 14670, 45.487, 'October', 'November']
================================================

In [16]:
print(x[3]) # Returns the element at index 3 (fourth element of x): 1800
print("================================================")
print('\t')

14670
================================================

In [27]:
print(x[1:3]) # Returns all elements between index 1 and index 3 (Note: element at index 3 is excluded)
print("================================================")
print('\t')

['August', 'September']
================================================

In [28]:
print(x[1:6:2]) # Returns all elements between index 1 and index 6 with a step of 2 elements each time ['Tuesday', 1800, 'Thursday'] (element at index 6 is excluded).
print("================================================")
print('\t')

['August', 14670, 'October']
================================================

In [29]:
print(x[0]) # Returns the first element of x: 'Monday' (Note: indexing starts at 0)
print("================================================")
print('\t')

July
================================================

In [30]:
print(x[:3]) # Returns all elements up to but not including index 3
print("================================================")
print('\t')

['July', 'August', 'September']
================================================

In [31]:
print(x[-1]) # Negative indexing, returns the last element of the list (equivalent to x[6])
print("================================================")
print('\t')

November
================================================

In [32]:
print(x[-2]) # Negative indexing, returns the second to last element of the list (equivalent to x[5])
print("================================================")
print('\t')

October
================================================

In [33]:
print(x[::2]) # Iterates through all elements between index 0 and the last index, returning every second element ['Monday', 'Wednesday', 20.357, 'Friday'].
print("================================================")
print('\t')

['July', 'September', 45.487, 'November']
================================================

In [34]:
print(x[::-1]) # Returns a list containing all elements of x, rearranged from the last element to the first. This is a reverse of x. Returns ['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday'].
# The same result can be obtained by using x.reverse()
x_rev = x.reverse()
x_rev

['November', 'October', 45.487, 14670, 'September', 'August', 'July']

In [35]:
x = [[3, 4, 5], [4, 5, 6], [5, 6, 7]]

In [36]:
print(x)
print("================================================")
print('\t')

[[3, 4, 5], [4, 5, 6], [5, 6, 7]]
================================================

In [37]:
print(x[0]) # Returns the first sublist [1, 2, 3]
print("================================================")
print('\t')

[3, 4, 5]
================================================

In [38]:
print(x[0][0]) # Returns the first element of the first sublist, which is 1
print("================================================")
print('\t')

3
================================================

In [39]:
print(x[2]) # Returns the third sublist [3, 4, 5]
print("================================================")
print('\t')

[5, 6, 7]
================================================

In [40]:
print(x[2][1]) # Returns the element at index 1 of the third sublist, which is 4
print("================================================")
print('\t')

6
================================================

In [41]:
print(x[1:]) # Returns all sublists starting from index 1: [[2, 3, 4], [3, 4, 5]]
print("================================================")
print('\t')

[[4, 5, 6], [5, 6, 7]]
================================================

In [42]:
print(x[1:][0]) # Returns the first sublist from the sliced list: [2, 3, 4]
print("================================================")
print('\t')

[4, 5, 6]
================================================

In [43]:
print(x[-1]) # Returns the last sublist [3, 4, 5]
print("================================================")
print('\t')

[5, 6, 7]
================================================

In [44]:
print(x[1][:2]) # Returns the first two elements of the second sublist: [2, 3]
print("================================================")
print('\t')

[4, 5]
================================================

In [45]:
print(x[1][1:]) Returns elements from index 1 to the end of the second sublist: [3, 4]

[5, 6]

### The range() Function

In [48]:
x = range(15) # Creates a sequence of integer values from 0 to 9

In [49]:
print(x)
print("================================================")
print('\t')

range(0, 15)
================================================

In [50]:
x = range(2, 15) # Creates a sequence of integer values from 2 to 9

In [51]:
print(x)
print("================================================")
print('\t')

range(2, 15)
================================================

In [52]:
x = range(1, 15, 3) # Creates a sequence of integer values from 1 to 9 with a step of 2. It returns 1, 3, 5, 7, and 9
print(x)

range(1, 15, 3)

In [54]:
x = range(15)

print(list(x)) # Returns a list: values in square brackets [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### Operations on Lists

In [55]:
x = ['November', 'October', 45.487, 14670, 'September', 'August', 'July']

print(len(x)) # returns 7

7

In [56]:
x = ['lion', 'tiger']
y = ['donkey', 'horse']
z = x + y
print(z) # returns ['lion', 'tiger', 'donkey', 'horse']

['lion', 'tiger', 'donkey', 'horse']

In [57]:
x = ['lion', 29, 58, 'tiger', 1800, 250]
y = x * 3
print(y) # returns ['lion',29, 58, 'tiger', 1800, 250, 'lion',29, 58, 'tiger', 1800, 250, 'lion',29, 58, 'tiger', 1800, 250]

['lion', 29, 58, 'tiger', 1800, 250, 'lion', 29, 58, 'tiger', 1800, 250, 'lion', 29, 58, 'tiger', 1800, 250]

In [58]:
x = ['July', 'August', 'September', 14670, 45.487, 'October', 'April']
x[3] = x[3] + 100
print(x) # returns ['July', 'August', 'September', 14670, 45.487, 'October', 'April']

print("==================================================================\n")
x[6] = x[6] + ' Fool' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

['July', 'August', 'September', 14770, 45.487, 'October', 'April']
==================================================================

['July', 'August', 'September', 14770, 45.487, 'October', 'April Fool']

In [59]:
x = ['July', 'August', 'September', 'October', 'November']
x.append('December')
x.append('January')
print(x)

['July', 'August', 'September', 'October', 'November', 'December', 'January']

In [61]:
x.extend(['February','March','April','Mey','June'])
print(x)

['July', 'August', 'September', 'October', 'November', 'December', 'January', 'February', 'March', 'April', 'Mey', 'June']

In [64]:
X, Y = set('xyzk'), set('myzm')
print("X =", X) 
print("Y =", Y)
print('z' in X)  # True
print('k' in Y)  # False
print(X - Y)     
print(Y - X)     
print(X | Y)     
print(X & Y)

X = {'k', 'y', 'z', 'x'}
Y = {'y', 'z', 'm'}
True
False
{'k', 'x'}
{'m'}
{'k', 'x', 'y', 'z', 'm'}
{'y', 'z'}

In [65]:
X, Y = set('xyzk'), set('myzm')
print("X =", X) 
print("=========================================\n")

print("Y =", Y) 
print("=========================================\n")

print('c' in X)  # True
print("=========================================\n")

print('a' in Y)  # False
print("=========================================\n")

print(X - Y)     
print("=========================================\n")

print(Y - X)    
print("=========================================\n")

print(X | Y)     
print("=========================================\n")

print(X & Y)

X = {'k', 'y', 'z', 'x'}
=========================================

Y = {'y', 'z', 'm'}
=========================================

False
=========================================

False
=========================================

{'k', 'x'}
=========================================

{'m'}
=========================================

{'k', 'x', 'y', 'z', 'm'}
=========================================

{'y', 'z'}

In [69]:
X = {'name': 'Jeannette', 'age': 45, 'weight': 60, 'height': 1.5}
print("=========================================\n")

print(X.keys())  # returns ['name', 'age', 'weight', 'height']
print("=========================================\n")

print(X.values())  
print("=========================================\n")

print(X['name'])  # returns 'Jeanette'
print("=========================================\n")

Y = {'Jeannette': [45, 60, 1.5], 'Pauline': [20, 45, 1.80], 'Pierrette': [35, 85, 1.65]}
print("=========================================\n")

print(Y['Jeannette']) 
print("=========================================\n")

print(Y['Jeannette'][0]) 
print("=========================================\n")

print(Y['Jeannette'][0:2])

=========================================

dict_keys(['name', 'age', 'weight', 'height'])
=========================================

dict_values(['Jeannette', 45, 60, 1.5])
=========================================

Jeannette
=========================================

=========================================

[45, 60, 1.5]
=========================================

45
=========================================

[45, 60]

In [70]:
x = {} # Creates an empty dictionary. You could also use x = dict()
print(x)
print("=========================================\n")

x['name'] = 'Ben' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
print(x)
print("=========================================\n")

x['biometrics'] = [29, 52, 1.85] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
print(x)
print("=========================================\n")

x['biometrics'] = [35, 80, 1.80] # Modifies the values of the 'biometrics' key by redefining it
print(x)
print("=========================================\n")

x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)
print(x)
print("=========================================\n")



Y = {'Jeannette': [45, 60, 1.5], 'Pauline': [20, 45, 1.80], 'Pierrette': [35, 85, 1.65]}
print(Y)
print("=========================================\n")

del Y['Jeannette'] # Deletes the key 'Jean' and all its corresponding values

del Y['Pauline'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.


print(Y)

{}
=========================================

{'name': 'Ben'}
=========================================

{'name': 'Ben', 'biometrics': [29, 52, 1.85]}
=========================================

{'name': 'Ben', 'biometrics': [35, 80, 1.8]}
=========================================

{'name': 'Ben', 'biometrics': [2, 80, 1.8]}
=========================================

{'Jeannette': [45, 60, 1.5], 'Pauline': [20, 45, 1.8], 'Pierrette': [35, 85, 1.65]}
=========================================

{'Pauline': [45, 1.8], 'Pierrette': [35, 85, 1.65]}

In [71]:
x = {'Jeannette': [45, 60, 1.5], 'Pauline': [20, 45, 1.80], 'Pierrette': [35, 85, 1.65]}
print(x)

x['John'] = x.pop('Jeannette') # Renames the key 'Jean' to 'John'
print(x)

{'Jeannette': [45, 60, 1.5], 'Pauline': [20, 45, 1.8], 'Pierrette': [35, 85, 1.65]}
{'Pauline': [20, 45, 1.8], 'Pierrette': [35, 85, 1.65], 'John': [45, 60, 1.5]}